.vehicle-images-detail {
  margin-top: 30px;
}
.vehicle-images-detail img {
  border-radius: 10px;
}
.preview-images {
  margin-top: 15px;
}
.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vehicle-info-details {
  margin-top: 20px;
  font-size: calc(14px + 0.3vw);
  line-height: 20px;
}
.vehicle-detail-header {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: calc(18px + 0.35vw);
}
.vehicle-detail-subheader {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: calc(14px + 0.3vw);
  color: #042521;
  line-height: 0;
}
.availabiliy {
  line-height: 20px;
  font-weight: 700;
  color: #087e0d;
}
.total-items {
  margin-top: 10%;
}
.wrapper-sub-item {
  padding: 5px;
  width: 35px;
  height: 35px;
  background-color: #cbcbd4;
  border-radius: 5px;
  float: right;
}
.wrapper-add-item {
  padding: 5px;
  width: 35px;
  height: 35px;
  background-color: #ffcd61;
  border-radius: 5px;
  float: left;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.carousel-indicators {
  position: relative;
  margin-right: 0;
  margin-bottom: 0;
  justify-content: space-around;
  margin-left: 0;
}
.carousel-indicators [data-bs-target] {
  width: 100%;
  height: auto;
}
.carousel-item-vehicle {
  width: 100%;
  height: 50vh;
  border-radius: 10px;
}
.carousel-item-vehicle img {
  width: 100% !important;
  height: 50vh !important;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.img-preview-wrapper {
  max-width: calc(30px + 5vw);
  height:  calc(30px + 5vw);
  border-radius: 10px;
  position: relative;
}
.img-preview-wrapper img {
  width:  calc(30px + 5vw) !important;
  height:  calc(30px + 5vw) !important;
  object-fit: cover;
  /* object-position: center; */
  border-radius: 10px !important;
  /* object-position: center; */
}
