.poster {
  min-height: 87vh;
  background-image: url('../images/resi-kling-jkmQz2eVjuQ-unsplash-c.webp');
  background-position: center;
  background-size: cover;
}
.poster .layer {
  padding: 5%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.tagline {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-size: 35px;
  margin-bottom: 2vh;
  line-height: 110%;
}
.sub-tagline {
  font-size: 20px;
  color: white;
  font-weight: bolder;
}
.sub-tagline:after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 5%;
  border-top: 2px solid white;
  margin-bottom: 4vh;
}
.more {
  color: #fb8f1d;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}
.vehicle-content {
  position: relative;
}
.vehicle-card {
  border: 0px solid tomato;
  margin-bottom: 3vh;
}
.vehicle-images {
  position: relative;
  width: 20vw;
  height: 27vw;
}
.vehicle-images img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid #f7f7f7;
}
.vehicle-images figcaption {
  padding: 3px;
  padding-left: 0px;
  border-top-right-radius: 8px;
  background: white;
  color: black;
  position: absolute;
  max-width: 60%;
  min-width: 40%;
  min-height: 40px;
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.vehicle-images figcaption a {
  color: inherit;
  text-decoration: none;
}
.fig-title {
  font-weight: bold;
  color: #042521;
}
.fig-subtitle {
  color: gray;
}
.ico-star {
  padding-left: 10px;
  padding-right: 10px;
  background: url('../icons/star-fill.svg');
  background-position: center;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}

.testimony {
  margin-top: 3vh;
}
.testimony .user {
  font-size: calc(14px + 0.3vw);
  font-weight: bolder;
  margin-top: 20px;
}
.testimony-images {
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  width: 18vw;
  height: 25vw;
}
.testimony-images .user-image {
  margin: auto;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.testimony-images figcaption {
  position: relative;
  padding: 3px;
  width: 100%;
  border-top-left-radius: 8px;
  bottom: 0;
  right: 3vw;
}
.wrapper-testimony-btn {
  position: absolute;
  right: -3.4vw;
  bottom: 0;
  min-width: 6vw;
  height: auto;
  padding: 0.5vw;
  background-color: white;
  border-top-left-radius: 8px;
}

.next-previous {
  width: 2.5vw;
  height: 2.5vw;
}

.border-plus {
  position: absolute;
  width: 2vw;
  height: 2vw;
  left: -1vw;
  bottom: -1vw;
  z-index: 1;
}
.border-circle {
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
  top: -1vw;
  right: -1vw;
  z-index: -1;
}
.foot {
  font-size: calc(14px + 0.3vw);
}
.carousel-control-next,
.carousel-control-prev {
  position: inherit !important;
  display: inherit !important;
}

.content-search {
  padding: 0 5% 0 5% !important;
}
.search-input-wrapper {
  position: relative;
}
input.search-vehicle,
select.search-vehicle {
  /* position: absolute; */
  font-size: calc(14px + 0.3vw);
  border: 1px solid #afb0b9;
  border-radius: 10px;
  color: #b8becd;
  padding: 0 50px 0 15px;
  height: 50px;
  margin-bottom: 2%;
}
input#search-vehicle::placeholder {
  color: #b8becd;
}
input#search-vehicle:focus {
  color: #042521;
}
button.search-icon {
  position: absolute;
  inset: 10px 15px auto auto;
}

select.input-filter {
  position: absolute;
  font-size: calc(14px + 0.3vw);
  border: 1px solid #afb0b9;
  border-radius: 10px;
  color: #b8becd;
  padding: 0 50px 0 15px;
  height: 50px;
}

.chats {
  position: relative;
  min-height: 100px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 5vh;
}
.chats:last-child {
  margin-bottom: 10vh;
}
.chats a {
  color: #042521;
}
.chats a:hover {
  cursor: pointer;
  color: #042521ce !important;
}
.chats .chat-user-picture,
.chats .chats-user-name,
.chats .chats-preview-chat,
.chats .chats-time-send,
.chats .count {
  position: absolute;
}
.chats .chat-user-picture {
  inset: 5px auto auto 10px;
  width: calc(40px + 1vw);
  height: calc(40px + 1vw);
}
.chats .chat-user-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.chats .chats-user-name {
  inset: auto auto auto 80px;
  font-weight: bold;
}
.chats .chats-preview-chat {
  inset: 30px auto auto 80px;
}
.chats .chats-new {
  font-weight: bold;
}
.chats .chats-time-send {
  inset: auto 10px auto auto;
  font-weight: bold;
}
.chats .chats-count {
  inset: 30px 10px auto auto;
  position: absolute;
  text-align: center !important;
  height: 0;
  width: 25px;
  padding-bottom: 25px;
  border-radius: 50%;
  background-color: #ffcd61;
}
.inside-chat-user-picture {
  margin-left: 1vw;
  inset: 5px auto auto 10px;
  width: calc(25px + 1vw);
  height: calc(25px + 1vw);
}
.inside-chat-user-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.inside-chat-name {
  font-weight: bold;
  margin-left: 1vw;
}
.chat-field {
  margin-top: 1vh;
  margin-bottom: 5vh;
  height: 75vh;
  width: 100%;
  padding: 0;
  background-color: #61616105;
  position: relative;
}
.chat-field .typing-area {
  width: 100%;
  position: absolute;
  inset: auto auto 0 auto;
  padding: 0;
  /* background-color: #DFDEDE; */
}
.chat-field .typing-area textarea {
  inset: auto auto 0 auto;
  position: absolute;

  box-sizing: border-box;
  height: auto;
  min-height: 20px;
  max-height: 20vh;
  overflow: hidden;
  resize: none;

  width: 100%;
  background-color: #dfdede;
  border: none;
  padding: calc(5px + 0.5vw);
  border-radius: 5px;
}
.chat-field .typing-area textarea:focus {
  border: none;
  outline: none;
}
.chat-field .typing-area img {
  position: absolute;
  width: calc(25px + 0.3vw);
  height: calc(25px + 0.3vw);
  inset: auto 5px min(1.5vw, 13px) auto;
  z-index: 2;
}
.chat-msg {
  height: 90%;
  /* background-color: red; */
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-msg span {
  width: 100%;
  margin-top: 10px;
}
.chat-msg .chat-msg-right,
.chat-msg .chat-msg-left {
  font-size: calc(14px + 0.2vw);
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  width: auto;
}
.chat-msg .chat-msg-right {
  text-align: right;
  background-color: #393939;
  color: #ffcd61;
}
.chat-msg .chat-msg-left {
  text-align: left;
  background-color: #ffcd61;
  color: #393939;
}
p.time-chat {
  font-weight: normal;
  font-size: calc(12px + 0.1vw);
}

.chat-product {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

.chat-product-info {
  padding-inline: 15px;
  width: 100%;
}
.chat-product-info .price {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: calc(16px + 0.5vw);
}

.chat-product .chat-img-wrapper {
  height: calc(150px + 5vw);
  content: '';
  width: calc(150px + 5vw);
  position: relative;
  /* background-color: red; */
}
.chat-product .chat-img-wrapper img {
  width: calc(150px + 5vw);
  height: calc(150px + 5vw);
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.history-product .history-img-wrapper {
  height: calc(100px + 5vw);
  content: '';
  width: calc(100px + 5vw);
  position: relative;
}
.history-product .history-img-wrapper img {
  width: calc(100px + 5vw);
  height: calc(100px + 5vw);
  object-fit: cover;
  border: 2px solid #e7e7e7;
  object-position: center;
  border-radius: 5px;
}
.history-product-info {
  padding-inline: calc(15px + 1vw);
}

.history-search-wrapper {
  position: relative;
}
.history-search {
  border: 1px solid #afb0b9;
  font-size: calc(14px + 0.3vw);
}
.history-search::placeholder {
  color: #b8becd;
}
.history-search-wrapper button {
  position: absolute;
  inset: 5px 10px auto auto;
}
.history-search-filter {
  border: 1px solid #afb0b9;
}
.info-history .info-history-wrapper {
  font-size: calc(13px + 0.3vw);
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #c4c4c4;
}
.info-history-wrapper img {
  position: absolute;
  width: calc(13px + 0.3vw);
  height: calc(13px + 0.3vw);
  inset: auto 5px auto auto;
}
.new-arrival-wrapper {
  border: 1px solid #dadada;
  border-radius: 10px;
}
.new-arrival-wrapper h3 {
  font-size: calc(17px + 0.3vw);
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.new-arrival-wrapper .view-more img {
  width: calc(16px + 0.3vw);
  height: calc(18px + 0.3vw);
}
.list-header {
  color: #c4c4c4;
  font-weight: normal;
}
@media (min-width: 1400px) {
  .tagline {
    font-size: 75px !important;
  }
  .sub-tagline {
    font-size: 30px !important;
  }
  .fig-title,
  .fig-subtitle {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .tagline {
    font-size: 60px;
  }
  .sub-tagline {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .tagline {
    font-size: 45px;
  }
  .next-previous {
    height: 5vw;
    width: 5vw;
  }
  .border-circle,
  .border-plus {
    width: 5vw;
    height: 5vw;
  }
  .border-circle {
    right: -2vw;
    top: -2vw;
  }
  .border-plus {
    left: -2.5vw;
    bottom: -2.5vw;
  }
  .vehicle-images {
    margin: auto;
    width: 30vw;
    height: 45vw;
  }
  .testimony-images {
    width: 30vw;
    height: 45vw;
  }
}
@media (max-width: 576px) {
  .border-plus {
    display: none;
  }
  .border-circle {
    display: none;
  }
  .poster {
    min-height: 87vh;
  }
  .form {
    padding-top: 0vh !important;
  }
  .more img {
    display: none;
  }
  .vehicle-images {
    width: 35vw;
    height: 45vw;
  }
  .testimony .wrapper-all {
    min-height: 150px;
  }
  .testimony-images {
    margin: 0;
    width: 70px;
    height: 70px;
  }
  .user-image {
    border-radius: 100% !important;
  }
  .wrapper-testimony-btn {
    bottom: auto;
  }
  .next-previous {
    bottom: auto;
    height: 35px;
    width: 35px;
  }
  .border-circle,
  .border-plus {
    width: 5vw;
    height: 5vw;
  }
  .border-circle {
    right: -2vw;
    top: -2vw;
  }
  .border-plus {
    left: -2.5vw;
    bottom: -2.5vw;
  }
  .vehicle-images img {
    display: block;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #f7f7f7;
  }
  .vehicle-images figcaption {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 60%;
  }
  .testimonies {
    text-align: justify;
  }
  .carousel-item {
    min-height: 250px !important;
  }
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: white !important;
}
