html,
body {
  max-width: 100vw;
}
.canvas {
  width: 100vw;
  max-width: 100%;
  background-image: url('../images/iqx-azmi-jn01MSrsUpE-unsplash-c.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.canvas-forget-password {
  width: 100vw;
  max-width: 100%;
  background-image: url('../images/kilarov-zaneit-nan5wYNRwhs-unsplash-rs.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.content-first,
.content-second {
  width: 100%;
}
.content-first {
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  height: 100vh;
  padding: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-first .left,
.right {
  width: 48%;
  height: 100%;
  padding: 4vh;
  flex: 1;
}
.single-content {
  width: 100%;
  min-height: 80vh;
}

.content-first .middle {
  width: 2%;
  height: 100%;
  background-image: url('../images/Lines/Line.png'),
    url('../images/Lines/Ellipse.png'), url('../images/Lines/Ellipse.png');
  background-repeat: no-repeat;
  background-position: center center, center bottom, center top;
  background-size: contain, 13px 13px, 13px 13px;
  padding: 1px;
}

.content-first .title {
  text-align: justify;
  max-width: 35vw;
  font-family: 'Playfair Display', serif;
  color: rgba(255, 255, 255);
  line-height: 4vw;
  font-weight: bold;
  font-size: 3.5vw;
}
.content-first .account {
  margin-top: 15px;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.content-first .left .wrapper {
  max-width: 35vw;
  margin: auto;
}
.content-first .right .wrapper {
  margin: auto;
  padding-top: 5%;
  height: 100%;
  max-width: 35vw;
}
.wrapper-forget {
  max-width: 40vw;
  margin: auto;
  height: 100%;
}
.wrapper-forget input,.wrapper-forget button{
  width: 50%;
  margin-inline: 25%;
  margin-bottom: calc(20px + 1vh);
}
.notice{
  font-size: calc(14px + 0.3vw);
  color: white;
}
.single-content h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: white;
  font-size: calc(20px + 3vw);
  margin: 5vh auto 5vh auto;
}
.content-first .right input {
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  width: 100%;
  margin-bottom: 5%;
  padding: 15px;
  border: none;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 5px;
  color: white;
}

.content-first .right input::placeholder {
  color: white;
}
.content-first .right input:focus {
  outline-style: none;
}
.forget-password {
  text-decoration: underline;
  font-size: calc(13px + 0.3vw);
  color: white;
}
.btn {
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  font-size: calc(13px + 0.3vw);
  text-align: center;
  width: 100%;
  padding: 13px;
  display: block;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
.btn:hover {
  cursor: pointer;
}
.btn-gold {
  color: #393939;
  background-color: #ffcd61;
  box-shadow: 0px 0px 20px rgba(248, 161, 112, 0.47);
}
.btn-white {
  background-color: white;
  color: #393939;
}
.btn-black {
  color: #ffcd61;
  background-color: #393939;
}
.btn-google {
  background: url('../icons/Google.png') no-repeat;
  background-size: contain;
  float: left;
  width: 20px;
  height: 20px;
}

ul {
  margin-top: 10px;
  padding: 0px;
  list-style: none;
}
ul li {
  margin-bottom: 5px;
}
ul li a {
  color: #848484;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
}
.content-second {
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3vh;
  height: 35vh;
  background-color: #f9f9fb;
  font-size: 14px;
}
/* .error-msg {
  font-size: calc(14px + 0.3vw);
  text-shadow: 0px 1px 3px white;
  font-weight: 500;
  color: red;
  margin-bottom: 5px;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(1vw);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1vw);
  }
} */

@media (max-width: 992px) {
  .wrapper-forget {
    max-width: 60vw;
  }
  .content-first .left,
  .right {
    width: 100%;
    max-height: 50%;
  }
  .content-second {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 576px) {
  .wrapper-forget {
    max-width: 80vw;
  }
  .marg-5 {
    margin-top: 5px;
  }
  .canvas {
    width: 200vw;
    max-width: 100%;
    background-image: url('../images/iqx-azmi-jn01MSrsUpE-unsplash-cmobile.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
  }
  .content-first {
    margin: auto;
    min-width: 100vw;
    height: 100vh;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .content-first .left,
  .right {
    min-width: 80%;
    text-align: center;
    border: 0px solid white;
    padding: 1vh;
  }
  .left {
    padding-bottom: 0;
    max-height: max(35vh, 230px) !important;
    margin-bottom: 0;
    /* box-shadow: 0 1px 10px white; */
  }
  .left .wrapper {
    max-width: 80vw !important;
    margin-top: 10% !important;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .right {
    max-width: 80vw;
    margin: auto;
    max-height: 60vh;
    padding-top: 0;
  }
  .content-first .middle {
    /* width: 25vw;
    padding: 10px 0 10px 0;
    height: 10px;
    margin: 1vh auto 3vh auto;
    background: none;
    box-shadow: inset 0px -4px 0 0px white; */
    display: none;
  }
  .content-first .right .wrapper {
    padding-top: 3vh;
    max-width: 60vw;
  }
  .content-first .title {
    max-width: 60vw;
    margin: auto;
    line-height: 8vw;
    font-size: 8vw;
    text-align: center;
  }
  .content-second {
    min-height: 100vh;
  }
  .content-first .right input {
    background: rgba(255, 255, 255, 1);
    color: #393939;
  }
  .content-first .right input::placeholder {
    color: #393939;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: calc(14px + 0.3vw);
  }
  .btn {
    font-size: calc(13px + 0.3vw);
  }
  input,
  select {
    font-size: calc(13px + 0.3vw);
  }
  .content-first .account {
    font-size: 20px;
  }
  .content-second {
    font-size: 20px;
  }
  .forget-password {
    font-size: 18px;
  }
}
