.profile-info h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.profile-info .profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info .profile-image:hover {
  cursor: pointer;
}

.profile-image-wrapper {
  max-width: 150px;
  max-height: 150px;
  position: relative;
  margin: auto;
  margin-bottom: 4vh;
}

.profile-info figcaption {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #ffcd61;
  border-radius: 50%;
  margin-left: 110px;
  margin-top: -35px;
}
.profile-info figcaption a {
  text-decoration: none;
  color: black;
}
.user-info {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #b8becd;
}
.form-check-input:checked {
  background-color: #393939;
  border-color: #393939;
}
.form-check-input:checked[type='radio'] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23ffcd61'/%3e%3c/svg%3e");
}
.contact-header {
  font-weight: 600;
  margin-bottom: 3vh;
}
.profile-contacts label {
  color: #9f9f9f;
}
.profile-contacts input {
  border-radius: 0;
  border-bottom: 1px solid #042521;
  padding-left: 0;
}
